<header class="header">
    <a href="#home" class="logo">
        <img  src="./../../../assets/webstyle/logo/byd2-outline.png" alt="Logo">
    </a>

    <!-- Mobile Menu Toggle Button -->
    <div class="menu-toggle" (click)="toggleMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
    </div>

    <nav class="navbar" [class.active]="menuOpen">
        <ul>
            <li><a href="#home" class="navlink active"><fa-icon [icon]="faHome"></fa-icon> Home</a></li>
            <!-- <li><a href="#about"><fa-icon [icon]="faInfoCircle"></fa-icon> About</a></li> -->
            <li><a href="#faq"><fa-icon [icon]="faQuestionCircle"></fa-icon> FAQs</a></li>
            
            <!-- Dropdown Menu -->
            <li class="dropdown">
                <a href="#"><fa-icon [icon]="faImages"></fa-icon>BDChallenge</a>
                <ul class="dropdown-menu">
                    <li><a href="#gallery"><fa-icon [icon]="faImages"></fa-icon> Gallery</a></li>
                    <li><a href="#eligible"><fa-icon [icon]="faInfoCircle"></fa-icon> Requirements</a></li>
                    <li><a href="#videogallery"><fa-icon [icon]="faVideo"></fa-icon> Previous Event</a></li>
                    <!-- <li><a href="#pay"><fa-icon [icon]="faMoneyBillWave"></fa-icon> Charges</a></li> -->
                </ul>
            </li>
            <li><a routerLink="/register"><fa-icon [icon]="faUserAlt"></fa-icon>Register</a></li>

            <li><a routerLink="/login"><fa-icon [icon]="faSignInAlt"></fa-icon>Login</a></li>
        </ul>
    </nav>
    

</header>
