.stat_description{
    font-size: 0.3em;
}
.chart-container {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  .amountSnip{
    font-size: 1.8em;
  }

  .chart-container-pie-chart {
    width: 400px;
    height: 400px;
    margin: auto;
  }