.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  
  .hold-transition{
      width: 100%;
    }
    .mileage-heading{
      color: goldenrod;
      font-family: 'Courier New', Courier, monospace;
    }