<section id="Challenge" class="testimonials">
    <br><br><div class="section-head col-sm-12" id="videogallery">
        <h1>Challenges</h1>

      </div>
    <div class="ad-section">
        
    <!-- <h1 class="heading" style="margin-top: -1.5rem;" id="team">Challenges</h1> -->
    <div class="image-container">
        
      <div class="image-item">
        <h3>{{ imageTitle1 }}</h3>
        <img [src]="imageUrl1" alt="{{ imageTitle1 }}" class="ad-image" />
      </div>
      <div class="image-item">
        <h3>{{ imageTitle2 }}</h3>
        <img [src]="imageUrl2" alt="{{ imageTitle2 }}" class="ad-image" />
      </div>

      <div class="image-item">
        <h3>{{ imageTitle3 }}</h3>
        <img [src]="imageUrl3" alt="{{ imageTitle3 }}" class="ad-image" />
      </div>
    </div>
    <div class="banner">
      <a href="https://youtu.be/Cv_UEH5SNbk?si=pyCQ4sXAeZDsBdDJ" target="_blank" class="view-more">
        View More on Our YouTube Channel
      </a>
    </div>
  </div>
  </section>
  